@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/*
Remove list styles (bullets/numbers)
in case you use it with normalize.css
*/
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
    textarea {
    white-space: revert;
}

:root{
    --maincolor: #afeaf8;
    --textcolor: #049fff;
    --db: #025c91;
    --lightb: #73c7f8;
    --shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    transition: all .5s;
}

*::selection{
    background: var(--db);
    color: #fff;
}

header{
    background-image: url('image/header_img.PNG');
    color: var(--lightb);
    text-align: center;
    height: 130px;
}

header h1{
    font-size: x-large;
    color: var(--textcolor);
    font-weight: bold;
    padding-top: 35px;
}

body{
    background-color: var(--maincolor);
}

navbar{
    position: sticky;
    display: flex;
    background: var(--lightb);
    box-shadow: var(--shadow);
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    padding: 10px 7%;
}

navbar a{
    margin-right: 50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: var(--db);
    border-bottom: 1.5px solid;
}

article{
    margin: 15px;
}

article ul ol li{ 
    margin-left: 30px;
    list-style: decimal;
}

article .bold{ 
    font-weight: bold;
    margin-top: 5px;
}

#secImg{
    background-color: var(--db);
    box-shadow: var(--shadow);
}

section img{
    height: 400px;
    display: block;
}

img{
    box-shadow: var(--shadow);
}

img:hover{
    transform: translateY(-4px);
}

aside{
    margin-top: 50px;
    padding-bottom: 550px;
}

aside h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

footer{
    background-color: var(--lightb);
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a{
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}

h3{
    margin: 15px;
    font-weight: bold;
}

form{
    margin: 15px;
    margin-bottom: -40px;
}

section p{
    margin: 15px;
}