@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/*
Remove list styles (bullets/numbers)
in case you use it with normalize.css
*/
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
    textarea {
    white-space: revert;
}

:root{
    --maincolor: #0a9ef4;
    --textcolor: #049fff;
    --db: #025c91;
    --lightb: #73c7f8;
}

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    transition: all .5s;
}

*::selection{
    background: var(--maincolor);
}

header{
    background-image: url('image/header_img.PNG');
    color: var(--lightb);
    text-align: center;
    padding: 30px;
}

header h1{
    font-size: x-large;
    color: var(--textcolor);
    font-weight: bold;
}